nav {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: rgb(255, 255, 255); 
    border: 1px solid rgba(128, 128, 128, 0.15);
  }
  
  nav ul {
    padding-right: 5%;
  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    font-size: 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #1C3A3E;
  }
  


.logo {
    padding: 10px;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #1C3A3E;
}

/* Centering .mainpage content */
.mainpage {
    display: flex;
    margin-bottom: 5%;
    padding-top: 75px;
    flex-direction: column;
    align-items: center;
    color: #1C3A3E;
    justify-content: center;
    text-align: center;
}

.mainpage-head {
    color: #1C3A3E;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.mainpage-title {
    max-width: 600px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
    margin-top: 0.5em;
}

/* Table styles */
/* Updated CSS for table */
.med-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
}

.med-table th, .med-table td {
    border-top: 1px solid #ddd; /* Only horizontal lines */
    border-bottom: 1px solid #ddd; /* Only horizontal lines */
    padding: 12px 20px; /* Increased padding for more space */
}

.med-table th {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.item-container-main {
    white-space: nowrap;
    margin: 10px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    color:  #ffffff;
    padding: 8px 20px;
    background-color: #152d30;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.item-container-main:hover {
    background-color: #0b1618;
}

.item-container-main-2 {
    padding: 8px 40px;
    white-space: nowrap;
    border-radius: 6px;
    border: none;
    background: #1C3A3E;
    color: var(--button-text);
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.item-container-main-2:hover {
    background: #152a2e;
}

/* Styles for the delete button */
.med-table .item-container-delete {
    height: 30px; /* Reduced button height */
    padding: 8px 30px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #d9534f;
    background: #ffffff; /* Red color for delete button */
    color: #d9534f;
    font-size: 15px; /* Reduced font size */
    display: inline-flex; /* Allows vertical centering */
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin: 5px; /* Add some space between buttons */
}

.med-table .item-container-delete:hover {
    background: #c9302c; 
    color: #ffffff;/* Darker red on hover */
}



@media (max-width: 585px) {
    .logo{
        font-size: 20px;
        margin-left: 10px;
      }
}

@media (max-width: 370px) {

    .logo{
        font-size: 18.5px;
        margin-left: 10px;
      }

    nav ul{
        padding-right: 0;
    }
    nav ul li a{
        font-size: 12px;
    }
}

@media (max-width: 320px) {

    .logo{
        font-size: 17px;
        margin-left: 10px;
      }

    nav ul li a{
        font-size: 12px;
    }
    
}